# -------------------------------------------------
# 忽略 node_modules 和构建输出
# -------------------------------------------------
node_modules/
dist/


# -------------------------------------------------
# 忽略系统文件
# -------------------------------------------------


# -------------------------------------------------
# 日志,缓存，临时文件
# -------------------------------------------------
analyze.html

# -------------------------------------------------
# . IDE / 编辑器配置
# -------------------------------------------------
