@import './global.css';
@import './theme-transition.css';

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes navigate-progress {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(400%);
  }
}
