::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
  opacity: 1;
  pointer-events: none;
}

html.theme-transition-expand::view-transition-new(root) {
  z-index: 2;
  animation: theme-circle-expand 0.5s ease-in-out forwards;
  clip-path: circle(0 at var(--theme-transition-x) var(--theme-transition-y));
}

html.theme-transition-expand::view-transition-old(root) {
  z-index: 1;
}

html.theme-transition-shrink::view-transition-old(root) {
  z-index: 2;
  animation: theme-circle-shrink 0.5s ease-in-out forwards;
  clip-path: circle(
    var(--theme-transition-radius) at var(--theme-transition-x)
      var(--theme-transition-y)
  );
}

html.theme-transition-shrink::view-transition-new(root) {
  z-index: 1;
}

@keyframes theme-circle-expand {
  from {
    clip-path: circle(0 at var(--theme-transition-x) var(--theme-transition-y));
  }

  to {
    clip-path: circle(
      var(--theme-transition-radius) at var(--theme-transition-x)
        var(--theme-transition-y)
    );
  }
}

@keyframes theme-circle-shrink {
  from {
    clip-path: circle(
      var(--theme-transition-radius) at var(--theme-transition-x)
        var(--theme-transition-y)
    );
  }

  to {
    clip-path: circle(0 at var(--theme-transition-x) var(--theme-transition-y));
  }
}
